.search-bar {
    height: auto;
    width: auto;
    position: absolute;
    display: inline-block;
    top: 120%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}
.search-bar input {
    height: 35px;
    width: 44px;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 44px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.5s ease-out;
    color: transparent;
}
.search-bar input::-webkit-input-placeholder {
    color: transparent;
}
.search-bar input:-ms-input-placeholder {
    color: transparent;
}
.search-bar input::-ms-input-placeholder {
    color: transparent;
}
.search-bar input::placeholder {
    color: transparent;
}
.search-bar input:invalid {
    box-shadow: none;
}
.search-bar input:hover {
    border: 1px solid #fff;
    box-shadow: 0 0 1px 1px #eee;
}
.search-bar input:focus,
.search-bar input:valid {
    margin-left: 180px;
    width: 200px;
    border: 1px solid #ccc;
    outline: none;
    cursor: auto;
    background-color: #fff;
    color: #000;
}
.search-bar input:focus::-webkit-input-placeholder,
.search-bar input:valid::-webkit-input-placeholder {
    color: #999;
}
.search-bar input:focus:-ms-input-placeholder,
.search-bar input:valid:-ms-input-placeholder {
    color: #999;
}
.search-bar input:focus::-ms-input-placeholder,
.search-bar input:valid::-ms-input-placeholder {
    color: #999;
}
.search-bar input:focus::placeholder,
.search-bar input:valid::placeholder {
    color: #999;
}
.search-bar input:focus + .search-icon,
.search-bar input:valid + .search-icon {
    z-index: 0;
    border-color: #ccc;
    right: 20px;
}
.search-bar input:focus + .search-icon:after,
.search-bar input:valid + .search-icon:after {
    background-color: #ccc;
}

.search-icon {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    right: 12px;
    top: 8px;
    z-index: -1;
}
.search-icon:after {
    content: "";
    position: absolute;
    top: 12.07px;
    left: 9.07px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 2px;
    width: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.new-search {
    margin: auto;
    padding: 6px;
    opacity: 0.7;
    position: relative;
}

.search-input {
    border: none;
    padding-left: 10px;
    font-size: 12px;
    border-radius: 20px;
    outline: none;
}

.search-margin {
    position: absolute;
    right: 10%;
    top: 30%;
}

input.image-search {
    width: 25px;
    height: 25px;
    vertical-align: text-bottom;
}
.home-text-1 {
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.home-text-2 {
    color: #fff;
    font-size: 14px;
    text-align: left !important;
    text-decoration: none !important;
}
.home-text-2:hover {
    color: #ffc501 !important;
}
.flexing-header {
    display: flex;
    flex-grow: 1;
    width: 100%;
}
.logo-area {
    margin-left: 200px;
}

i.fas.fa-search {
    font-size: 15px !important;
    padding-top: 6px !important;
}
#header .header-nav-main nav > ul > li > a {
    color: black !important;
}

#header .header-nav-top .nav > li > a,
#header .header-nav-top .nav > li > span {
}

.container-fluid-custom {
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.addflex {
    display: flex;
}
.container-fluid {
    display: flex;
}
.slider-container {
    background-image: url("../img/header.png") !important;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.top-new {
    background-color: #2d2b2c;
}

.min-search-bar {
    width: 100%;
    background: linear-gradient(
        90deg,
        rgba(255, 150, 0, 1) 0%,
        rgba(255, 84, 10, 1) 35%,
        rgba(254, 18, 22, 1) 100%
    );
    margin: auto;
    border-radius: 50px;
    height: 80px;
}

.search-feilds {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
}

div#logo-margin {
    margin-top: 0px !important;
    margin-left: -100px !important;
}
.go-btn {
    background-color: #ff9600;
    border: none;
    color: white;
    border-radius: 15px;
    width: 70px;
    font-weight: bolder;
    font-size: 22px;
    height: 35px;
}

.txt-course {
    margin: auto 10px;
    color: white;
    font-size: 20px;
}
.select-css {
    height: 38px;
    display: block;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    line-height: 1.3;
    padding: 0.6em 2.4em 0.5em 0.8em;
    width: 150px;
    box-sizing: border-box;
    margin: 0;
    border: 2px solid white;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"292.4"%20height%3D"292.4"><path%20fill%3D"%23fff"%20d%3D"M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z"%2F><%2Fsvg>');
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    cursor: pointer;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border: none;
    background: linear-gradient(
        90deg,
        rgba(255, 148, 0, 1) 0%,
        rgba(255, 148, 0, 1) 0%,
        rgba(254, 13, 20, 1) 100%
    );
    /* background-image: url('data:image/svg+xml;charset=US-ASCII,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"292.4"%20height%3D"292.4"><path%20fill%3D"%23fff"%20d%3D"M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z"%2F><%2Fsvg>'); */
}
.select-css:focus {
    border-color: white;
    color: #222;
    outline: none;
}
.select-css option {
    font-weight: normal;
}

.with-text-container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 68%;
    left: 45%;
    transform: translate(-40%, -50%);
}

.btn-intake {
    background-color: #ff9003;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    height: 40px;
    font-weight: 600;
}

.btn-majors {
    font-size: 15px;
    background: linear-gradient(
        90deg,
        rgba(255, 144, 3, 1) 0%,
        rgba(254, 172, 0, 1) 0%,
        rgba(255, 203, 1, 1) 100%
    );

    border: none;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    height: 40px;
    width: 130px;
    font-weight: 600;
}
.main-head-t {
    font-size: 28px;
    font-weight: bolder;
    line-height: 32px;
}

.study-test {
    font-size: 18px;
    color: white;
}

.checkout-text {
    font-size: 18px;
    color: white;
    font-weight: 900;
}

@media only screen and (max-width: 1138px) {
    .min-search-bar {
        width: 100%;
        background: linear-gradient(
            90deg,
            rgba(255, 150, 0, 1) 0%,
            rgba(255, 84, 10, 1) 35%,
            rgba(254, 18, 22, 1) 100%
        );
        margin: auto;
        border-radius: 0px !important;
        height: 80px;
    }
    .search-feilds {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 25px;
        flex-direction: column;
    }

    .select-css {
        margin: 10px !important;
    }
    .min-search-bar {
        height: 100%;
    }
}

@media only screen and (max-width: 998px) {
    .hide-feather {
        display: none;
    }

    .appear-animation.with-text-container.animated.appear-animation-visible {
        display: none;
    }
}

@media only screen and (max-width: 998px) {
    div#logo-margin {
        margin-left: -155px !important;
    }
}
.clearfix {
    clear: both;
}

.centerflipcards {
    display: block;
    text-align: center;
    margin: 20px auto;
}

.card-flip {
    width: 100%;
    height: 250px;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    transform: perspective(1000px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    float: left;
}

.card-flip-change-height1 {
    height: 500px;
}

.frontCard,
.backCard {
    width: 100%;
    height: 100%;
    -ms-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    -webkit-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #1474b3;
}

.card-flip .frontCard {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    z-index: 1;
}

.card-flip:hover .frontCard {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
}

.card-flip .backCard {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    z-index: 1;
}

.card-flip:hover .backCard {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.invCardback1 {
    background: url(../img/projects/back2/1.png) center center no-repeat
        content-box;
    background-size: cover;
    border-radius: 3rem;
}
.invCardback2 {
    background: url(../img/projects/back2/2.png) center center no-repeat
        content-box;
    background-size: cover;
    border-radius: 3rem;
}

.invCardback3 {
    background: url(../img/projects/back2/3.png) center center no-repeat
        content-box;
    background-size: cover;
    border-radius: 3rem;
}

.invCardback4 {
    background: url(../img/projects/back2/4.png) center center no-repeat
        content-box;
    background-size: cover;
    border-radius: 3rem;
}

.invCard001,
.applyCard2,
.directionsCard {
    background: url(../img/projects/001.png) center center no-repeat content-box;
    background-size: cover;
}
.invCard002,
.applyCard2,
.directionsCard {
    background: url(../img/projects/002.png) center center no-repeat content-box;
    background-size: cover;
}
.invCard003,
.applyCard2,
.directionsCard {
    background: url(../img/projects/003.png) center center no-repeat content-box;
    background-size: cover;
}
.invCard004,
.applyCard2,
.directionsCard {
    background: url(../img/projects/004.png) center center no-repeat content-box;
    background-size: cover;
}

.invCard,
.applyCard2,
.directionsCard {
    background: url(../img/projects/project-5.png) center center no-repeat
        content-box;
    background-size: cover;
}
.invCard0005,
.applyCard2,
.directionsCard {
    background: url(../img/projects/back/project-5.png) center center no-repeat
        content-box;
    background-size: cover;
}

.invCard22,
.applyCard2,
.directionsCard {
    background: url(../img/projects/project-6.png) center center no-repeat
        content-box;
    background-size: cover;
}
.invCard0006,
.applyCard2,
.directionsCard {
    background: url(../img/projects/back/project-6.png) center center no-repeat
        content-box;
    background-size: cover;
}

.invCard33,
.applyCard2,
.directionsCard {
    background: url(../img/projects/project-7.png) center center no-repeat
        content-box;
    background-size: cover;
}
.invCard0007,
.applyCard2,
.directionsCard {
    background: url(../img/projects/back/project-7.png) center center no-repeat
        content-box;
    background-size: cover;
}

.invCard44,
.applyCard2,
.directionsCard {
    background: url(../img/projects/project-8.png) center center no-repeat
        content-box;
    background-size: cover;
}
.invCard0008,
.applyCard2,
.directionsCard {
    background: url(../img/projects/back/project-8.png) center center no-repeat
        content-box;
    background-size: cover;
}

.invCard111,
.applyCard2,
.directionsCard {
    background: url(../img/projects/project-1.png) center center no-repeat
        content-box;
    background-size: cover;
}

.invCard222,
.applyCard2,
.directionsCard {
    background: url(../img/projects/project-2.png) center center no-repeat
        content-box;
    background-size: cover;
}
.invCard0002,
.applyCard2,
.directionsCard {
    background: url(../img/projects/back/project-2.png) center center no-repeat
        content-box;
    background-size: cover;
}

.invCard333,
.applyCard2,
.directionsCard {
    background: url(../img/projects/project-3.png) center center no-repeat
        content-box;
    background-size: cover;
}
.invCard03,
.applyCard2,
.directionsCard {
    background: url(../img/projects/project-04.png) center center no-repeat
        content-box;
    background-size: cover;
}
.invCard0003,
.applyCard2,
.directionsCard {
    background: url(../img/projects/back/project-3.png) center center no-repeat
        content-box;
    background-size: cover;
}

.invCard444,
.applyCard2,
.directionsCard {
    background: url(../img/projects/project-4.png) center center no-repeat
        content-box;
    background-size: cover;
}
.invCard0004,
.applyCard2,
.directionsCard {
    background: url(../img/projects/back/project-4.png) center center no-repeat
        content-box;
    background-size: cover;
}

.invCard2,
.applyCard,
.directionsCard2 {
    background-color: #247cb7;
}

.frontCard:before,
.backCard:before {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    opacity: 0.6;
}

.card-flip i {
    color: #fff;
    font-size: 4em;
}

.card-flip h2 {
    color: white;
    font-family: "Lato";
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.card-flip h3 {
    color: white;
    font-family: "Lato";
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}

.card-container h1 {
    color: white;
}
.container-blue {
    background-color: #1474b300;
    width: 100%;
    right: 18px;
    position: absolute;
    left: 0;
    right: 14px;
    top: 170px;
    height: 75px;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 0px 0px;
}

.container-blue1 {
    background-color: #1474b300;
    width: 100%;
    right: 18px;
    position: absolute;
    left: 0;
    right: 14px;
    top: 75px;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 0px 0px;
}

.container-blue2 {
    background-color: #1474b300;
    width: 100%;
    right: 18px;
    position: absolute;
    left: 0;
    right: 14px;
    top: 45px;
    height: 90px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 0px 0px 0px 0px;
}
.container-blue3 {
    background-color: #1474b300;
    width: 100%;
    right: 18px;
    position: absolute;
    left: 0;
    right: 14px;
    top: 40px;
    height: 95px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 0px 0px 0px 0px;
}

.container-blue4 {
    background-color: #1474b300;
    width: 100%;
    right: 18px;
    position: absolute;
    left: 0;
    right: 14px;
    top: 55px;
    height: 95px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 0px 0px 0px 0px;
}

.container-blue5 {
    background-color: #1474b300;
    width: 100%;
    right: 18px;
    position: absolute;
    left: 0;
    right: 14px;
    top: 55px;
    height: 95px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 0px 0px 0px 0px;
}

.container-blue6 {
    background-color: #1474b300;
    width: 100%;
    right: 18px;
    position: absolute;
    left: 0;
    right: 14px;
    top: 55px;
    height: 95px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 0px 0px 0px 0px;
}

.container-blue7 {
    background-color: #1474b300;
    width: 100%;
    right: 18px;
    position: absolute;
    left: 0;
    right: 14px;
    top: 55px;
    height: 95px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 0px 0px 0px 0px;
}
.container-blue1-1 {
    background-color: #e54027;
    width: 100%;
    right: 18px;
    position: absolute;
    left: 0;
    right: 14px;
    top: 110px;
    height: 68px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 0px 0px 0px 0px;
}
.container-blue1-2 {
    background-color: #3f6db2;
    width: 100%;
    right: 18px;
    position: absolute;
    left: 0;
    right: 14px;
    top: 110px;
    height: 68px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 0px 0px 0px 0px;
}
.container-blue1-3 {
    background-color: #eca223;
    width: 100%;
    right: 18px;
    position: absolute;
    left: 0;
    right: 14px;
    top: 110px;
    height: 68px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 0px 0px 0px 0px;
}
.container-blue1-4 {
    background-color: #34a748;
    width: 100%;
    right: 18px;
    position: absolute;
    left: 0;
    right: 14px;
    top: 110px;
    height: 68px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 0px 0px 0px 0px;
}
.centerflipcards p {
    font-family: "Lato";
    font-size: 13px;
    margin-top: 10px;
    font-weight: 700;
}

.flip-button {
    display: block;
    width: 200px;
    padding: 20px;
    font-family: "Lato";
    font-weight: 300;
    font-size: 1.5em;
    color: #fff;
    margin: 0 auto;
    border-radius: 2px;
    text-decoration: none;
    background: #2221ff;
    /* Old browsers */
    background: -moz-linear-gradient(
        -45deg,
        #4bbcff 0%,
        #4954de 49%,
        #2221ff 100%
    );
    /* FF3.6-15 */
    background: -webkit-linear-gradient(
        -45deg,
        #4bbcff 0%,
        #4954de 49%,
        #2221ff 100%
    );
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #4954de 0%, #4bbcff 49%, #2221fff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4bbcff', endColorstr='#2221ff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    opacity: 0.7;
}

a.flip-button:hover {
    opacity: 1;
    color: #fff;
    text-decoration: none;
}

/*CARD FLIP ANIMATION*/

.card-container {
    padding: 0 40px;
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    -webkit-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    -webkit-transform: translateY(-50%) translateX(0px) scale(1);
    -ms-transform: translateY(-50%) translateX(0px) scale(1);
    transform: translateY(-50%) translateX(0px) scale(1);
    z-index: 2;
}

.card-flip:hover .card-container {
    -webkit-transform: translateY(-50%) translateX(-650px);
    -ms-transform: translateY(-50%) translateX(-650px);
    transform: translateY(-50%) translateX(-650px);
}

.card-container2 {
    padding: 40px;
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    -webkit-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px)
        scale(0.88);
    -ms-transform: translateY(-50%) translateX(650px) translateZ(60px)
        scale(0.88);
    transform: translateY(-50%) translateX(650px) translateZ(60px) scale(0.88);
    transform-style: preserve-3d;
    z-index: 2;
}

.card-flip:hover .card-container2 {
    -webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
    -ms-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
    transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
}

/*ADD SHADOWS OPTIONAL*/

.card-flip .frontCard .boxshadow,
.card-flip .frontCard .textshadow,
.card-flip .backCard .boxshadow,
.card-flip .backCard .textshadow {
    -ms-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition: 0.6s;
}

.card-flip .frontCard .boxshadow {
    -webkit-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
}

.card-flip .frontCard .textshadow,
.card-flip i {
    -webkit-text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    -moz-text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}

.card-flip:hover .frontCard .boxshadow,
.card-flip:hover .frontCard .textshadow {
    -webkit-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
    -moz-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
    box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
}

.card-flip .backCard .boxshadow {
    -webkit-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
    -moz-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
    box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
}

.card-flip .backCard .textshadow {
    -webkit-text-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
    -moz-text-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
    text-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
}

.card-flip:hover .backCard .boxshadow {
    -webkit-box-shadow: 25px 25px 50px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 25px 25px 50px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 25px 25px 50px 0px rgba(0, 0, 0, 0.8);
}

.thumb-info.thumb-info-bottom-info:hover .thumb-info-title {
    -webkit-transform: translate3d(0, 0, 0);

    opacity: 1;
    height: 100%;
    display: grid;
}

.thumb-info .thumb-info-inner {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: flex !important;
    align-items: self-end !important;
}

.text-wrap-slider {
    position: absolute;
    z-index: 10000;
    top: 50%;
    left: 7%;
    max-width: 75%;
}

.text-wrap-slider h1 {
    color: #ffffff;
    font-weight: 800;
    text-shadow: 3px 3px 3px #000000;
}
.text-wrap-slider h3 {
    color: #fff;
    font-weight: 800;
    margin-top: 65px;
    text-transform: none;
    text-shadow: 3px 3px 3px #000000;
    font-size: 35px;
}

.text-wrap-slider p {
    color: #fff;
    text-shadow: 2px 2px 2px #000000;
    font-size: 18px;
}
.display-on-mobile {
    display: none;
}
.display-on-desk {
    font-size: 30px;
    /* position: relative; */
    left: -355px;
}
@media only screen and (max-width: 1024px) {
    .text-wrap-slider {
        position: absolute;
        z-index: 10000;
        top: 50%;
        left: 10%;
        max-width: 100%;
    }
    .text-wrap-slider h1 {
        color: #ffffff;
        text-align: left;
        padding-top: 70px;
    }
    .text-wrap-slider h3 {
        display: none;
    }
    .text-wrap-slider p {
        display: none;
    }
    .display-on-mobile {
        display: block;
    }
    .display-on-desk {
        display: none;
    }
}
@media only screen and (max-width: 780px) {
    .text-wrap-slider {
        position: absolute;
        z-index: 10000;
        top: 60%;
        left: 10%;
        max-width: 100%;
    }
    .text-wrap-slider h1 {
        color: #ffffff;
        font-size: 20px;
        text-align: left;
        padding-top: 40px;
    }
    .text-wrap-slider h3 {
        display: none;
    }
    .text-wrap-slider p {
        display: none;
    }
    .display-on-mobile {
        display: block;
    }
    .display-on-desk {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .text-wrap-slider {
        position: absolute;
        z-index: 10000;
        top: 10%;
        left: 10%;
        max-width: 100%;
    }

    .text-wrap-slider h1 {
        color: #ffffff;
        font-size: 20px;
        text-align: left;
        padding-top: 40px;
    }
    .text-wrap-slider h3 {
        display: none;
    }
    .text-wrap-slider p {
        display: none;
    }
    .display-on-mobile {
        display: block;
    }
    .display-on-desk {
        display: none;
    }
}
